.homepage__container {
    span {
        display: block;
        font: normal 2rem $accentFont;
        text-align: center;
        padding-top: 16px;
    }
}

.homepage__background {
    padding: 85px 0;
    h1 {
        text-align: center;
        font: bold 10rem $accentFont;
        color: #ffffff;
        opacity: 0.6;
    }
}