@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

// color scheme of portfolio
$bgColor: #efd9d5;
$brown: #9f7866;

// font 
$mainFont: 'Cormorant Garamond', serif;
$cursive: 'Parisienne', cursive;
