@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

.transparent {
  filter: alpha(opacity=50);
  /* internet explorer */
  -khtml-opacity: 0.5;
  /* khtml, old safari */
  -moz-opacity: 0.5;
  /* mozilla, netscape */
  opacity: 0.5;
  /* fx, safari, opera */
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 101%;
}

body {
  font-size: 62.5%;
  line-height: 1;
  font-family: Arial, Tahoma, sans-serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

strong {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}

p {
  font-size: 1.2em;
  line-height: 1.0em;
  color: #333;
}

body {
  background-color: #efd9d5;
  margin: 0;
}

.homepage__container span {
  color: #9f7866;
  display: block;
  font: normal 2rem "Cormorant Garamond", serif;
  text-align: right;
  padding-top: 16px;
}

.homepage__container p {
  font: normal 1.3rem "Cormorant Garamond", serif;
  color: #9f7866;
  text-align: center;
}

.homepage__navbar .homepage__navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage__navbar .homepage__navbar-menu li {
  color: #9f7866;
  font: normal 2rem "Cormorant Garamond", serif;
}

.homepage__background {
  padding: 85px 0;
}

.homepage__background h1, .homepage__background span {
  text-align: center;
  font: bold 15rem "Cormorant Garamond", serif;
  color: #ffffff;
  opacity: 0.6;
}

.homepage__cursive {
  position: relative;
}

.homepage__cursive h2 {
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: -405px;
  color: #9f7866;
  text-align: center;
  font: bold 5.7rem "Parisienne", cursive;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}
/*# sourceMappingURL=styles.css.map */